body {
	background-image: url(https://thumbs.dreamstime.com/b/antecedentes-veterinarios-veterinario-vector-fondo-patr%C3%B3n-sin-costura-de-animales-cl%C3%ADnica-veterinaria-y-mascotas-para-dise%C3%B1o-207810833.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	color: rgb(255, 255, 255);
	margin-left: 20px;
}
body {color: rgb(black);}
